#hotel-payment-images {
  width: 300px;
  height: 270px;
}
#hotel-payment {
  width: 50%;
  background-color: rgb(132, 136, 139);
  margin: 2% auto;
  display: flex;
  flex-direction: row;
}
.payment-content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 180px;
  background-color: #e0e0e0;
}
#Customer-Detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2%;
  padding: 1% 6%;
  background-color: rosybrown;
}
b {
  font-family: cursive;
}
#Hotel-Info {
  margin-left: 3%;
  margin-top: 8%;
}
