#city-image1,
#city-image2,
#city-image3,
#city-image4 {
  width: 150px;
  height: 150px;
  border-radius: 25%;
}
.search-bar {
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#city-cards {
  display: flex;
  justify-content: center;
  margin: 0 15%;
}
#cards {
  padding: 4%;
}
.index-content {
  margin-top: 60px;
  margin-bottom: 80px;
}
input {
  border: 1px solid #ffffff;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  width: 100%;
}
#view-more {
  display: flex;
  justify-content: center;
}
